Read the following texts and table with financial data from earnings report carefully.

Below is the context along with the Question.

{{pre_text}}

{{table}}

{{post_text}}

Question: {{question}}

Do not provide any justification, just the output in a valid JSON format that adheres to the following schema:

{% raw %}
```json
{{
    "steps": ["show your calculation steps"], 
    "answer": "final numerical answer"
}}
```
{% endraw %}