Read the following texts and table with financial data from earnings report carefully. Present your answer in the following JSON format. 

{% raw %}
```json
{{
    "steps": ["show your calculation steps"], 
    "answer": "final numerical answer"
}}
{% endraw %}

Below is the context along with the Question.

{{pre_text}}

{{table}}

{{post_text}}

Question: {{question}}